# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

### Django .gitignore ###
*.log
*.pot
*.pyc
migrations/
__pycache__/
my_settings.py
# settings.py   
# TEMPLATES의 'DIRS' 경로 바꿈 & STATICFILES_DIRS 주석 없앰
db.sqlite3
db.sqlite3-journal
media
chat/result_model/
chat/kogpt2_model/
