<!-- consult/templates/consult/room_first.html -->

{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- static/consult/style.css -->
    <link rel="stylesheet" href="{% static 'consult/style.css' %}" />
  </head>

<body>
  <div id="frame">
    <!-- view.py에서 전달받은 User 데이터 표시 -->
    <div class="content">
      <div class="contact-profile">
        <img src= "{{ user_profile }}" alt="" />
        <p>{{ username }}</p>
      </div>
      <div class="messages">
        <ul id="chat-log">
          {% comment %}
          <li class="sent">
            <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
            <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
          </li>
          <li class="replies">
            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
            <p>When you're backed against the wall, break the god damn thing down.</p>
          </li>
          {% endcomment %}
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
            <input id="chat-message-input" type="text" placeholder="Write your message..." />
            <button id="chat-message-submit" class="submit">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
        </div>
      </div>
    </div>
  </div>

<script src="{% static 'consult/main.js' %}"></script>
<script src="{% static 'consult/reconnecting-websocket.js' %}"></script>
<script>
    // view에서 전달받은 4가지 정보
    var roomName = {{ room_id_json }};
    var username = "{{ username }}";
    var userProfile = "{{ user_profile }}";
    var otherUserProfile = "{{ other_user_profile }}";
    var hasConsultResult = {{ has_consult_result|yesno:"true,false" }};  // Convert boolean to JS boolean value

    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/'
    );

    // Websocket에 연결되면 지난 메시지들 preload
    chatSocket.onopen = function(e) {
      fetchMessages();
    }

    // Websocket Client가 서버로부터 메시지 받으면 createMessage 함수 호출 => chat-log에 display
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if (data['command'] === 'messages') {   // 지난 메시지들 all
          for (let i = 0; i < data['messages'].length; i++) {
            createMessage(data['messages'][i]);
          }
        } else if (data['command'] === 'new_message') {  // 새 메시지 1개
            createMessage(data['message']);   // 상담 신청 & 발신자 메시지
        }
    }

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    // Enter 누르면 click 이벤트가 발생
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    // submit 버튼 누르면 웹 소켓으로 새 메시지 전송
    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.getElementById('chat-message-input');
        var message = messageInputDom.value;
        // consumers.py의 new_message 함수로 전체 data 전달 => 백엔드에서 새 메시지 객체 생성
        chatSocket.send(JSON.stringify({
            'command': 'new_message',
            'message': message,
            'from': username,
        }));
        // input 박스 초기화
        messageInputDom.value = '';
    };

    function fetchMessages() {
      // 웹 소켓에 JSON 형태의 command 전송 => consumers.py의 fetch_messages 함수 실행
      chatSocket.send(JSON.stringify({'command': 'fetch_messages'}));
    }

    // username + userProfile + message 합해서 하나의 메시지로 만들고 chat-log에 display
    function createMessage(data) {
      // <ul id="chat-log"> 안에 있는 li, img, p 태그 
      var author = data['author'];          // 발신자(작성자)
      var timestamp = new Date(data['timestamp']);   // 메시지 전송 시간
        // var timestamp = data['timestamp'];          // (timestamp 값 예시: 2023-08-25 11:48:34.816737)
        // Frontend에 적용: timestamp와 현재 시간과 비교하여 
        // 오늘 날짜에 처음 보낸 메시지면 화면 가운데에 "OOOO년 OO월 OO일" 날짜 표시 후 메시지 시간을 hh:mm 형식으로 표시하기
      
      var msgListTag = document.createElement('li');
      var imgTag = document.createElement('img');
      var pTag = document.createElement('p');
      var spanTag = document.createElement('span');
      
      pTag.textContent = data.content;
      spanTag.textContent = author + " - " + formatTime(timestamp);   // hh:mm 형식 표시
      imgTag.src = (author === username) ? userProfile : otherUserProfile;
        // 발신자 == 로그인한 사용자면 내 프로필 사진 표시 (아니면 상대방 사진 표시)
        // Frontend: 본인 사진은 안 나오고 상대방 사진만 나오도록 변경하기
      
      if (author === username) {
        msgListTag.className = 'sent'; 
      } else {
        msgListTag.className = 'replies';
      } 
      msgListTag.appendChild(imgTag);
      msgListTag.appendChild(pTag);
      msgListTag.appendChild(spanTag);
      document.querySelector('#chat-log').appendChild(msgListTag);
    }

    function formatTime(date) {
      // 메시지 시간을 Date 객체로 받아 hh:mm 형식으로 반환하는 함수
      var hours = date.getHours();
      var minutes = date.getMinutes();
      var formattedTime = hours.toString().padStart(2, '0') + ':' + minutes.toString().padStart(2, '0');
      return formattedTime;
    }

</script>
</body>

</html>