backend_django/chat/kogpt2_model/** filter=lfs diff=lfs merge=lfs -text
backend_django/chat/result_model/kobart/** filter=lfs diff=lfs merge=lfs -text
backend_django/chat/data/** filter=lfs diff=lfs merge=lfs -text
